#high-score-name {
  color: white;
  display:inline-block;
  float:none;
  list-style-type: none;
  font-size: 36px;
  padding-left: 10%;
}
#high-score-score{
  color: white;
  display:inline-block;
  float:none;
  list-style-type: none;
  font-size: 36px;
  text-align: right;
  padding-right: 10%;
}

#high-score-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 28%;
  left: 30%;
  z-index: 50;
  width: 40vw;
}

.icons{
  position: absolute;
  bottom: 0.1%;
  
}
.footer{
  display:flex;
  justify-content: center;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  list-style-type:none;
  z-index: -1;
}

ul.icons li {
  display: inline-block;
  padding: 0 .75em 0 .75em;
  font-size: 40px;
}
ul.icons li a{
  color: rgb(58, 58, 58);
}